/**
 * Styles for Holmes.js
 * Original by Lucas Bonomi
 * Changes by Haroen Viaene
 * Revised by Christian Carriere-Tisseur
 */

:root {
  font-size: 16px;
}

html {
  padding: 0 1em;
  background: #F7F7FA;
}

body {
  font-family: system, -apple-system, sans-serif;
  max-width: 40rem;
  margin: 1em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
  box-sizing: border-box;
  font-weight: 300;
}

header {
  text-align: center;
}

header img {
  height: .8em;
}

button {
  outline: none;
  padding: 0;
  margin: 0;
}

/**
 * Typography
 */

h1 {
  font-family: Didot, "Vidaloka", serif;
  font-size: 3em;
  color: #000;
  display: inline-block;
  position: relative;
  text-shadow: 1px 1px 0 #EDEDED, 3px 3px 0 rgba(0, 0, 0, .05)
}

h3 {
  font-family: Didot, "Vidaloka", serif;
  font-weight: bold;
  font-size: 2.2em;
}


/* todo: don't need a media query */

@media (max-width: 640px) {
  h3 {
    font-size: 5vw;
  }
}

h1:hover {
  text-shadow: 1px 1px 0 #EDEDED, 3px 3px 0 rgba(0, 0, 0, .2)
}

h1 a {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}

a {
  font-family: Didot, "Vidaloka", serif;
  color: #000;
  text-decoration: none;
  padding-bottom: .16rem;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}


/**
 * Input
 */

input[type="search"] {
  font-size: 1.4em;
  border-radius: .25em;
  background-color: #fff;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
  background-size: 4%;
  box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, .1);
  border: solid 1px rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding: .4em;
  width: 100%;
  margin: 1em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  right: .4em;
  position: relative;
}

input[type="search"]:not(:invalid) {
  background: #fff;
}


/**
 * Code block
 */

pre {
  background: #333;
  color: #fff;
  padding: 0 1em;
  border-radius: .25em;
  overflow: auto;
}

pre:first-of-type {
  margin-top: 2em;
}

/**
* Search
*/

.search {
  position: relative;
}

.search .toggle {
  position: absolute;
  top: 64%;
  right: 7%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 3.5em;
  color: rgba(0, 0, 0, .25);
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  font-family: Didot, "Vidaloka", serif;
}

.search .toggle:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  top: -46px;
  left: -96px;
  color: #fff;
  border-radius: .25em;
  padding: .35rem;
  background: rgba(0, 0, 0, .8);
  font-size: 1rem;
  width: 170px;
  opacity: 1;
  font-family: system, -apple-system, sans-serif;
  line-height: 1;
}

.search .toggle.clicked {
  color: rgba(0, 0, 0, .5);
}


/**
 * Results
 */

.results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/**
 * Results Cards
 */

.results blockquote {
  -webkit-flex-basis: 8em;
  -ms-flex-preferred-size: 8em;
  flex-basis: 8em;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid black;
  padding: 1em;
  border-radius: .25em;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
  border: solid 1px rgba(155, 155, 155, .2);
  margin: .5em;
  font-size: .95em;
  line-height: 1.3em;
  font-weight: 400;
}

.results blockquote:first-letter,
.results cite {
  font-family: Didot, "Vidaloka", serif;
  font-weight: bold;
  font-size: 1.4em;
}

.results cite {
  font-size: .95em;
  vertical-align: bottom;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  margin-top: 1.2em;
  -webkit-font-smoothing: subpixel-antialiased;
}

.results.classes blockquote.visible {
  border-bottom: 5px solid #86BA68;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.results.classes blockquote.hidden {
  border-bottom: 5px solid #D15E39;
  display: block;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

/**
 * Footer
 */

footer {
  padding: 2em 0 0;
}

@media (max-width: 640px) {
  footer {
    font-size: .8em;
    padding: 1em 0;
    line-height: 2;
    text-align: center;
  }
  footer .pull-right {
    width: 100%;
    float: left;
  }
}


/**
 * Generic classes
 */

.hidden {
  display: none;
}

.pull-right {
  float: right;
}

span.separator {
  font-family: Didot, "Vidaloka", serif;
  font-size: 2.2em;
  display: block;
  min-height: 100px;
  position: relative;
}

span.separator:after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .55;
}

@media (max-width: 640px) {
  span.separator:after {
    font-size: .8em;
  }
}

span.separator:before {
  content: '';
  position: absolute;
  background: url(../images/footprint.svg) no-repeat center center / contain;
  width: 100%;
  height: 100%;
}

span.separator:nth-of-type(odd):before {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

span.separator:nth-of-type(odd):after {
  left: 0;
  right: inherit;
}

.microlight {
  font-family: 'Courier New', monospace;
  white-space: pre;
  color: #fff;
}
