/**
 * Styles for Holmes.js
 * Original by Lucas Bonomi
 * Changes by Haroen Viaene
 */

 :root {
  font-size: 16px;
}

html {
  padding: 0 1em;
  background: #F7F7FA;
}

body {
  font-family: system, -apple-system, sans-serif;
  max-width: 40rem;
  margin: 1em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
  font-weight: 300;
}


/**
 * Typography
 */

 h1 {
  font-family: Didot, "Vidaloka", serif;
  font-size: 3em;
  color: #000000;
  display: inline-block;
  position: relative;
  text-shadow: 1px 1px 0 #EDEDED, 3px 3px 0 rgba(0, 0, 0, 0.05)
}

h3 {
  font-family: Didot, "Vidaloka", serif;
  font-weight: bold;
  font-size: 2.2em;
}

h1:hover {
  text-shadow: 1px 1px 0 #EDEDED, 3px 3px 0 rgba(0, 0, 0, 0.2)
}

h1:after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  background: url(../images/holmes_logo-hover.svg) no-repeat center center / contain;
  top: .25rem;
  right: -1.4em;
}

h1 a {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

a {
  font-family: Didot, "Vidaloka", serif;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0.16rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/**
 * Input
 */
 @media (max-width: 640px) {
  h1 {
    text-align: center;
    width: 80%;
    padding-right: 20%;
  }
  h1:after {
    right: 0.5em;
  }
}


input[type="search"] {
  font-size: 1.4em;
  border-radius: .25em;
  background-color: #ffffff;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
  background-size: 4%;
  box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: .4em;
  width: 100%;
  margin: 1em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  right: .4em;
  position: relative;
}

input[type="search"]:not(:invalid) {
  background: #fff;
}


/**
 * Code block
 */

 pre {
  background: #333;
  color: #fff;
  padding: 0 1em;
  border-radius: .25em;
  overflow: auto;
}

pre:first-of-type {
  margin-top: 2em;
}

/**
* Search
*/
.search {
  position: relative;
}

.search a {
  position: absolute;
  top: 64%;
  right: 7%;
  transform: translateY(-50%);
  font-size: 3.5em;
  text-decoration: none;
  border-bottom: none;
  color: rgba(0,0,0,0.25);
  display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.search a:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  top: -46px;
  left: -96px;
  color: #fff;
  border-radius: 4px;
  padding: 0.35rem;
  background: rgba(0,0,0,0.8);
  font-size: 1rem;
  width: 170px;
  opacity: 2;
  font-family: Helvetica;
  line-height: 1;
}

.search a.clicked {
  color: rgba(0,0,0,0.5);
}
/**
 * Results
 */

 .results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}


/**
 * Results Cards
 */

 .results blockquote {
  -webkit-flex-basis: 8em;
  -ms-flex-preferred-size: 8em;
  flex-basis: 8em;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 1px solid black;
  padding: 1em;
  border-radius: .25em;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(155, 155, 155, 0.2);
  margin: 0.5em;
  font-size: 0.95em;
  line-height: 1.3em;
  font-weight: 400;
}

.results blockquote:first-letter,
.results cite {
  font-family: Didot, "Vidaloka", serif;
  font-weight: bold;
  font-size: 1.4em;
}

.results cite {
  font-size: 0.95em;
  vertical-align: bottom;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  margin-top: 1.2em;
  -webkit-font-smoothing: subpixel-antialiased;
}

.results.classes blockquote.visible {
  border-bottom: 5px solid #86BA68;
  order: 1;
}

.results.classes blockquote.hidden {
  border-bottom: 5px solid #D15E39;
  display: block;
  order: 2;
}

/**
 * Footer
 */

 footer {
  padding: 2em 0 0;
}

@media (max-width: 640px) {
  footer {
    font-size: .8em;
    padding: 1em 0;
    line-height: 2;
    text-align: center;
  }

  footer .pull-right {
    width: 100%;
    float: left;
  }
}

/**
 * Generic classes
 */

 .hidden {
  display: none;
}

.pull-right {
  float: right;
}

span.separator {
  font-family: Didot, "Vidaloka", serif;
  font-size: 2.2em;
  vertical-align: bottom;
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
  background: url(../images/footprint.svg) no-repeat center center / contain;
  position: relative;
}

span.separator:after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.55;
}

@media (max-width: 640px) {
  span.separator:after {
    font-size: .8em;
  }
}

span.separator:nth-of-type(odd) {
  background: url(../images/footprint-2.svg) no-repeat center center / contain;
}

span.separator:nth-of-type(odd):after {
  left: 0;
  right: inherit;
}

.microlight {
  font-family: 'Courier New', monospace;
  white-space: pre;
  color: #fff;
}
