/**
 * Styles for Holmes.js
 * Original by Lucas Bonomi
 * Changes by Haroen Viaene
 */

:root {
  font-size: 16px;
}

html {
  padding: 0 1em;
  background: #EDEDED;
}

body {
  font-family: system, -apple-system, sans-serif;
  max-width: 40rem;
  margin: 1em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
  font-weight: 300;
}

h1 {
  font-family: Didot, "Vidaloka", serif;
  font-size: 3em;
  color: #000000;
  display: inline-block;
  position: relative;
}

h1:after {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  background: url(../images/holmes.svg) no-repeat center center / contain;
  top: .25rem;
  right: -1.4em;
}

h1 a {
  color: #000000;
  text-decoration: none;
  border-bottom: none;
}

a {
  font-family: Didot, "Vidaloka", serif;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0.16rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="search"] {
  font-size: 1.4em;
  border-radius: .25em;
  background-color: #ffffff;
  background-image: url(../images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 8px;
  background-size: 4%;
  box-shadow: 0 .1em .1em 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: .4em;
  padding-right: 0;
  width: 100%;
  margin: 1em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]:not(:invalid){
  background: #fff
}

pre {
  background: #333;
  color: #fff;
  padding: 0 1em;
  border-radius: .25em;
}

pre:first-of-type {
  margin-top: 2em;
}

.results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.results blockquote {
  flex-basis: 8em;
  flex-grow: 1;
  border: 1px solid black;
  padding: 1em;
  border-radius: .25em;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(155, 155, 155, 0.2);
  margin: 0.5em;
}

.hidden {
  display: none;
}

span.separator {
  font-family: Didot, "Vidaloka", serif;
  font-size: 2.2em;
  vertical-align: bottom;
  position: relative;
  display: block;
  width: 100%;
  min-height: 100px;
  background: url(../images/footprint.svg) no-repeat center center / contain;
  position: relative;
}

span.separator:after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.55;
}

span.separator:nth-child(odd) {
  background: url(../images/footprint-2.svg) no-repeat center center / contain;
}

span.separator:nth-child(odd):after {
  left: 0;
  right: inherit;
}

.microlight {
  font-family: 'Courier New', monospace;
  white-space: pre;
  color: #fff;
}
